<main class="main__container">
    <section class="section__error">
        <h1>Something went wrong</h1>
        <h2>{{msg}}</h2>
        <a class="btn__back" href={{backLink}}>Haga click para regresar</a>
    </section>
</main>