<main class='main__container'>
  <section class='section__password'>
    <h1>Password reset</h1>
    <h2>Enter your new password here</h2>
    <div class='form__container'>

      <form class='form__register' action='/password/forgotPassword' method='POST'>

        <label class='form__register__label'>Email</label>
        <input id='email' name='email' type='email' required/>

        <input class='form__submit' type='submit' value='Send reset link' />
      </form>
    </div>
  </section>
</main>