<main class='main__register'>
  <section class='section__login'>
    <div class='form__container'>
      <h1 class='form__title'>Password reset</h1>
      <h2>Enter your new password here</h2>

      <form class='form__register' action='/password/forgotPassword' method='POST'>

        <label class='form__register__label'>Email</label>
        <input id='email' name='email' type='email' />

        <input class='form__submit' type='submit' value='Send reset link' />
      </form>
    </div>
  </section>
</main>