<main class='main__home'>
  <section class='section__home'>
    <h1>Welcome</h1>
    <div class='home__btn__container'>
      <a class='home__btn' href='/auth/login'>Log in</a>
      <a class='home__btn' href='/auth/register'>Sign up</a>
    </div>
  </section>
</main>