<main class="main__register">
    <div class="form__container">
        <h1 class="form__title">Log in</h1>
    
        <div class="form__github__container">
            <a class="form__github__container__btn" href='/api/sessions/github'>Log in with Github</a>
        </div>

        <form class="form__register" action="/auth/login" method="POST">

            <label class="form__register__label">Email</label>
            <input id="email" name="email" type="email"/>

            <label class="form__register__label">Password</label>
            <input id="password" name="password" type="password"/>

            <input class="form__submit" type="submit" value="login">
        </form>
        <div class="form__register__footer">
            <p>Don't have an account?</p>
            <a href="/auth/register">Sign Up</a>
        </div>
    </div>

</main>