<main class="main__container">
    <section class="section__login">
        <div class="form__container">
            <h1 class="form__title">Password reset</h1>
            <h2>Enter your email address below to receive a password reset link</h2>

            <form class="form__register" action="/password/recover-pass" method="POST">

                <input id="code" name="code" type="hidden" value="{{code}}"/>

                <input id="email" name="email" type="hidden" value="{{email}}"/>

                <label class="form__register__label">New Password</label>
                <input id="password" name="password" type="password" placeholder="New password"/>

                <input class="form__submit" type="submit" value="Save">
            </form>
        </div>
    </section>
</main>