@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300;700&display=swap');

:root {
    --delete:#8B0000;
    --primary-100:#7FB3D5;
    --primary-200:#6296b7;
    --primary-300:#195775;
    --accent-100:#F7CAC9;
    --accent-200:#926b6a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F5F5DC;
    --bg-200:#ebebd2;
    --bg-300:#c2c2aa; 
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

.realtimeproducts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    height: 30px;
    border-radius: 10px;
    border: 2px solid var(--bg-300);
    outline: none;
    padding: 5px;
}

input:focus {
    border: 2px solid var(--primary-200);
}

/* New product form */
#form-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    gap: 5px;
}

.description-thumbail {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-price, .code-stock {
    display: flex;
    gap: 20px;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#btn-form {
    background-color: var(--primary-300);
    color: white;
    height: 30px; width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

/* Product table */

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

table {
    margin-top: 20px;
    width: 90%;
    text-align: center;
    border-spacing: 0;
}

thead {
    background-color: var(--primary-100);
    color: var(--primary-300);
}

thead tr th {
    padding: 10px;
}

tbody tr td {
    padding: 10px 0;
    border-bottom: 1px solid #222;
}

tbody tr td img {
    height: 80px; width: 80px;
    object-fit: cover;
}

.btn-delete {
    background-color: var(--delete);
    color: var(--bg-100);
    cursor: pointer;
    height: 30px; width: 30px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

/* Product view */
.products__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.products__header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.profile__btn--logout, .profile__btn--secret {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: var(--bg-100);
}

.profile__btn--logout {
    background-color: var(--delete);
    margin-right: 20px;
}

.profile__btn--secret {
    background-color: var(--primary-300);
}

.card__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    padding: 32px;
    justify-content: center;
    align-items: center;
}

.card__container > .card {
    justify-self: center;
    border-radius: 8px;
    width: 250px;
    height: 400px;
    box-shadow: 0px 0px 15px #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.card img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.card__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__title h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.card__description p {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
}

.card__btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__btn p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.card__btn button {
    width: 100%;
    border: none;
    text-align: center;
    background-color: var(--text-100);
    color: var(--white-color);
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.pagination__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.pagination__btn {
    display: flex;
    gap: 32px;
}

.pagination__btn p, .pagination__btn a {
    border: 1px solid var(--text-100);
    border-radius: 25px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.pagination__btn p {
    background-color: var(--text-100);
    color: var(--bg-100);
}

.pagination__btn a {
    color: var(--text-100);
    text-transform: uppercase;
    font-weight: bold;
}

.btn__add__to__cart {
    background: #333333;
    color: white;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    padding: 8px;
}

/* Cart */

.product-container {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}

.section__cart {
    height: 100%; width: 100%;
    border-radius: 25px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__profile {
    height: 100%; width: 100%;
    border-radius: 25px;
    padding: 50px;
    background-color: var(--white-color);
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.profile__container {
    width: 50%;
    
    border-radius: 25px;
    padding: 25px;
}

.user__admin {
    width: 50%;
    border-radius: 25px;
    padding: 25px;
}

.user__admin--title {
    display: flex;
    justify-content: space-between;
}

.user__admin--title button {
    background: none;
    border: none;
    background-color: var(--delete);
    border-radius: 25px;
    padding: 10px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.profile__container h1, .user__admin h2 {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
}

.profile__table, .user__admin table {
    width: 100%;
}

.profile__table tbody {
    text-align: left;
}

.profile__data--title {
    text-transform: uppercase;
    font-weight: bold;
}

.cart-section {
    display: flex;
    justify-content: space-between;
}

.cart__form__container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase__form {
    display: flex;
    gap: 20px;
}

.purchase__form--container {
    display: flex;
    flex-direction: column;
}

/* Home */

.section__home {
    height: 100%; width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__btn__container {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home__btn {
    background-color: var(--primary-300);
    text-decoration: none;
    color: var(--bg-100);
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    width: 100px;
}

/* Log in and Sign up */
.main__container {
    height: 100%; width: 100%;
    padding: 50px;
    background-color: var(--primary-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__register {
    height: 100%; width: 100%;
    background-color: var(--bg-100);
    display: flex;
}


.form__title {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
}

.section__login {
    height: 100%; width: 100%;
    border-radius: 25px;
    background-color: var(--white-color);
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}

.section__login img {
    width: 500px;
}

.section__password {
    height: 100%; width: 100%;
    border-radius: 25px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__error {
    height: 100%; width: 100%;
    border-radius: 25px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__error h1, .section__password h1, .section__cart h1 {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
}

.section__error h2, .section__password h2, .section__cart h2 {
    font-size: medium;
    font-weight: bold;
}

.btn__back {
    border: 2px solid var(--primary-100);
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;

    color: black;
    text-decoration: none;

    font-size: xx-large;
    text-align: center;
}

.form__container {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form__github__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.form__github__container__btn {
    width: 100%;
    text-align: center;
    border: 2px solid var(--bg-300);
    border-radius: 25px;
    padding: 5px;
    text-decoration: none;
    color: var(--text-100);
}

.form__register {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 0 0;
}

.form__register a {
    display: inline;
    align-self: flex-start;
    margin-top: 10px;
}

.form__register__label {
    color: var(--text-100);
    margin: 10px 0 0 0;
}

.form__submit {
    margin: 20px 0;
    cursor: pointer;
    text-transform: uppercase;
    background: var(--primary-300);
    border: none;
    color: var(--bg-200);
}

.form__register__footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form__register__footer a {
    color: var(--primary-300);
    padding-left: 5px;
}

.form__register__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name__container--short {
    padding-right: 10px;
}

.name__container input {
    width: 100%;
}
